@media screen and (max-width: 600px) {
    form {
      margin: 0 0 8px 0;
      width: 100%;
    }
    form > label,
    legend {
        width: 100%;
      float: none;
    }
  
    label {
      width: 100%;
      text-align: center;
        font-size: 1.5em;
    }
  
    form > fieldset {
      width: 85%;
      float: none;
    }
  
    input[type=text],
    input[type=email],
    input[type=text],
    input[type=text] 
    {
      width: 90%;
    }
}
 
  @media screen and (max-width: 900px) {
    form > label,
      legend {
        text-align: center;
      width: 100%;
  
      }
}
  body {
      background-color: #AEB6BF ;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      font-family:fantasy;
      font-size: 25px;
  
  }
  label{
      padding: 15px;
  }
  
  h1  {
      font-family:'Playfair Display', serif ;
      text-align: center;
      font-size: 60px;
      color: #FFF5EE;
      padding-bottom: 30px;
  }
  
  input {
      padding: 30px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
  }
  
  input[type=text], input[type=email]{
      width: 55%;
      font-size: 20px;
      padding: 10px;
  }
  
  input[type="submit"] {
      margin-right: auto;
      margin-left: auto;
      margin-top:30px;
  
  }
img {
  border-radius: 50%;
}
<img src=" css/photodan-dimmock-sNwnjxm8eTY-unsplash.jpg" alt="Student">

}
}
